<a href="https://colab.research.google.com/github/BossAyush07/Ml_Models/blob/master/Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Importing Dataset

In [2]:
dataset = pd.read_csv('50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
dataset['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [4]:
dataset.isnull().mean()

R&D Spend          0.0
Administration     0.0
Marketing Spend    0.0
State              0.0
Profit             0.0
dtype: float64

#### Setting up dependent and independent variables

In [5]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

### Convert the column into categorical columns

In [6]:
states = pd.get_dummies(X['State'], drop_first=True)

### Drop the state coulmn

In [7]:
X = X.drop('State', axis = 1)

### concat the dummy variables

In [8]:
X = pd.concat([X, states], axis=1)

In [9]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

### Splitting the dataset into the Training set and Test set

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Fitting Multiple Linear Regression to the Training set

In [11]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Predicting the Test set results

In [12]:
y_pred = regressor.predict(X_test)

## Checking the r2 score of the model

In [15]:
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)

In [16]:
score

0.9347068473282423